[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyqt5 = "*"
pyqt6 = "*"
servant-viewer = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.11"
